<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

    <variable name="logDirectory" value="${environment:METEOEXPORT_LOG_DIR:whenEmpty=${basedir}logs}" />

    <variable name="fileLayout" value="${longdate}|${level:uppercase=true:padding=-5}|${logger}|${message}${onexception:${newline}${exception:format=ToString}}" />

    <targets>
        <target xsi:type="ColoredConsole"
                name="console"
                layout="${time}|${level:uppercase=true:padding=-5}|${message}${onexception:${newline}${exception:format=ToString}}" />

        <target xsi:type="File"
                name="mainFile"
                fileName="${var:logDirectory}/main.log"
                layout="${var:fileLayout}"
                encoding="utf-8"
                createDirs="true"
                archiveEvery="Day"
                archiveSuffixFormat="_{1:yyyy-MM-dd}"
                maxArchiveDays="30" />

        <target xsi:type="File"
                name="warningFile"
                fileName="${var:logDirectory}/warning.log"
                layout="${var:fileLayout}"
                encoding="utf-8"
                createDirs="true"
                archiveEvery="Day"
                archiveSuffixFormat="_{1:yyyy-MM-dd}"
                maxArchiveDays="90" />

        <target xsi:type="File"
                name="errorFile"
                fileName="${var:logDirectory}/error.log"
                layout="${var:fileLayout}"
                encoding="utf-8"
                createDirs="true"
                archiveEvery="Day"
                archiveSuffixFormat="_{1:yyyy-MM-dd}"
                maxArchiveDays="90" />
    </targets>

    <rules>
        <!-- EF логирует SQL на уровне info -->
        <logger name="Microsoft.EntityFrameworkCore*" maxlevel="Debug" final="true" />

        <logger name="*" minlevel="Trace" writeTo="console,mainFile" />
        <logger name="*" minlevel="Warn" writeTo="warningFile" />
        <logger name="*" minlevel="Error" writeTo="errorFile" />
    </rules>

</nlog>
